.detailsContainer {
  height: 100vh;
  top: 0;
  width: 100vw;
  background-color: #4E1E29;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center; }

.inventoryContainer {
  margin-top: 60px;
  width: 80%;
  height: 70%;
  background-color: #C6B38E;
  border-radius: 10px;
  display: flex;
  flex-direction: column; }

.booksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C6B38E;
  overflow-y: scroll;
  width: 100%;
  height: auto; }

.titleOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  overflow-y: scroll; }
  .titleOptions .detailsTitle {
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
    font-weight: 900;
    color: #4E1E29;
    margin-left: 30px; }
  .titleOptions .filter {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif; }

.detailsBook {
  width: 80%;
  height: 80%;
  display: flex;
  background-color: #FBFFE6;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px; }

.dbookImage {
  height: 80%;
  margin-left: 15px; }

.dtitleAuth {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  text-align: left; }

.dtitle {
  font-size: 2.5em; }

.dsideInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: flex-end; }
