.outer {
  background-color: #4E1E29;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .outer .yellowContainer {
    background-color: #C6B38E;
    width: 70vw;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .outer .yellowContainer .logo {
      height: 180px;
      margin-top: 80px; }
    .outer .yellowContainer .title {
      color: #4E1E29;
      font-family: 'Alegreya', serif;
      font-size: 1.75em;
      font-weight: 900;
      margin-top: 20px; }

.loginContainer {
  background-color: #242325;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }
