@import "../../../_color.scss";

.button {
    font-family: 'Alegreya', serif;
    font-size: 1.75em;
    font-weight: 900;
    color: $b;
    background-color: $r;
    padding: 5px 20px;
    transition: .62s;
    cursor: pointer;
    width: auto;
    outline: none;
    border: none;
}

.button:hover {
    background-color: $b;
    color: $r;
}

h1 {
    float: right;
}
h1:nth-child(1) {
    float: right;
    color: blue;
}

input[ type="text"]:disabled {
    background-color: red;
    cursor: not-allowed;
}
input:focus {
    background-color: purple
}